In [1]:
# Sample code illustration

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Local data cache
datadir = './data/'
datafile = datadir + "DataSample-WeightHeight-data.csv"

In [4]:
# Read data from local file
data = pd.read_csv(datafile)
data.head()

,S.No.,Height (cm),Weight (kg),BMI (numeric),"BMI Category = C1, C2, C3, C4"
0,1.0,164.0,74.7,27.77,C3
1,2.0,151.0,76.7,33.64,C4
2,3.0,174.0,116.0,38.31,C4
3,4.0,152.0,64.0,27.70,C3
4,5.0,175.0,63.0,20.57,C2

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   S.No.                          46 non-null     float64
 1   Height (cm)                    46 non-null     float64
 2   Weight (kg)                    45 non-null     float64
 3   BMI (numeric)                  46 non-null     float64
 4   BMI Category = C1, C2, C3, C4  46 non-null     object
dtypes: float64(4), object(1)
memory usage: 39.1+ KB